mixin html(amp)
	if amp
		html(⚡, lang='en')
			block
	else
		html(lang='en')
			block
mixin star(color)
	if color == "full"
		li.star.list-inline-item: amp-img(src="images/star/rating_on.png" width="20" height="20" layout="responsive")
	if color == "empty"
		li.star.list-inline-item: amp-img(src="images/star/rating_off.png" width="20" height="20" layout="responsive")


mixin stars(count)
	ul.company-rating-star.list-inline.m-0
		if count == 0
			+star("empty")
			+star("empty")
			+star("empty")
			+star("empty")
			+star("empty")
		if count == 1
			+star("full")
			+star("empty")
			+star("empty")
			+star("empty")
			+star("empty")
		if count == 2
			+star("full")
			+star("full")
			+star("empty")
			+star("empty")
			+star("empty")
		if count == 3
			+star("full")
			+star("full")
			+star("full")
			+star("empty")
			+star("empty")
		if count == 4
			+star("full")
			+star("full")
			+star("full")
			+star("full")
			+star("empty")
		if count == 5
			+star("full")
			+star("full")
			+star("full")
			+star("full")
			+star("full")

mixin header(stars)
	.container-fluid.company-head.px-0.py-2
		.container.p-0.d-flex.flex-column.flex-lg-row
			.row.p-0.m-0.ml-lg-2.d-flex.align-items-center.flex-lg-row
				.col.company-logo.p-0.m-0
					.amp-img
						amp-img.img-fluid(src="images/" + casino.identity.logo, width="50" height="50" layout="responsive")
				.col.company-title.pl-2.text-right.text-lg-left
					h1: a(href="#")= casino.title
					+stars(stars)
					a(href="#"): small Dragon Fish

			.row.d-flex.justify-content-center.flex-md-column.ml-lg-auto.mr-lg-2
				.mx-auto.mr-lg-2.my-3
					a.mr-4(href="#") Write a review
					a.btn.btn-primary(href="#") Play Now
				.mx-auto.mr-lg-2.mt-2.text-center.text-lg-right
					h2: a.my-2(href="#")= casino.offer.body
		small.d-block.w-100.px-4.text-center= casino.offer.terms
		block


mixin related(stars, title)
	.px-3
		h2.color.mt-4.color-s.s-l= title
		hr.title-underline
	.container-fluid.related--bingos.px-0
		.container.p-0.d-flex.flex-wrap
			each bingor, index in related
				.container.p-0.py-3.related--bingo
					.row.p-0.m-0.ml-lg-2.d-flex.align-items-center.flex-lg-row
						.col.company-logo.p-0.m-0
							.amp-img(id= "bg" + index)
								amp-img.img-fluid(src="images/" + bingor.identity.logo, width="50" height="50" layout="responsive")
						.col.company-title.pl-2.text-right.text-lg-left
							h1: a(href="#")= bingor.title
							+stars(stars)
							a(href="#"): small Dragon Fish
					small.d-block.w-100.p-3= bingor.description.short
					.offer-card__strip.mx-3
						h2.text-center.p-3= bingor.offer.body
						//-svg(viewBox="0 0 110 110")
							use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrowBNBS" x="0" y="0")
						.offer-card--footer.p-3
							if bingor.offer.list
								ul.list-unstyled
									each atr in bingor.offer.list
										li= atr
										//- li Dragonfish Bingo Software
										//- li Deposit For Free Bingo Tickets & Daily Free Spins
										//- li No Wagering Requirements
										//- li Winnings Paid In Cash
								hr
							.d-flex
								.mx-auto
									a.mr-4(href="#") Write a review
									a.btn.btn-primary(href="#") Play Now
					p.terms.text-center.px-3: small= bingor.offer.terms
				//-.row.d-flex.justify-content-center.flex-md-column.ml-lg-auto.mr-lg-2
					.mx-auto.mr-lg-2.my-3
						a.mr-4(href="#") Write a review
						a.btn.btn-primary(href="#") Play Now
					.mx-auto.mr-lg-2.mt-2.text-center.text-lg-right
						h2: a.my-2(href="#")= casino.offer.body
		
mixin descriptionHero(color)
	if color === "dark"
		.row.description.description--dark.p-4.d-flex.flex-column.flex-lg-row
			.col.m-0.p-3.px-lg-4
				h3= casino.title + " review"
				p= casino.description.short
			.col.m-0.p-3.px-lg-4
				a(href="#")
					.amp-img
						amp-img.img-fluid(src="images/" + casino.identity.screen, width="800" height="600" layout="responsive" alt=casino.title + " screenshot" )
					small.d-block.text-center= casino.title + " screenshot"
	if color === "light"
		.row.description.description--light.p-4.d-flex.flex-column.flex-lg-row
			.col.m-0.p-3.px-lg-4
				h3= casino.title + " review"
				p= casino.description.short
			.col.m-0.p-3.px-lg-4
				a(href="#")
					.amp-img
						amp-img.img-fluid(src="images/" + casino.identity.screen, width="800" height="600" layout="responsive" alt=casino.title + " screenshot" )
					small.d-block.text-center= casino.title + " screenshot"
	
	if color === "white"
		.row.description.description--white.p-4.d-flex.flex-column.flex-lg-row
			.col.m-0.p-3.px-lg-4
				h3= casino.title + " review"
				p= casino.description.short
			.col.m-0.p-3.px-lg-4
				a(href="#")
					.amp-img
						amp-img.img-fluid(src="images/" + casino.identity.screen, width="800" height="600" layout="responsive" alt=casino.title + " screenshot" )
					small.d-block.text-center= casino.title + " screenshot"

mixin description(color)
	section.container.pt-3
		if color === "dark"
			.row.description.description--dark
				.col.m-0.p-3
					h4="Description"
					p= casino.description.long
				
		if color === "light"
			.row.description.description--light
				.col.m-0.p-3
					h4="Description"
					p= casino.description.long
		
		if color === "white"
			.row.description.description--white
				.col.m-0.p-3
					h4="Description"
					p= casino.description.long

mixin metas
	.metas.p-3.description--light 
		h4.mt-3.mb-2= casino.title + " Atributes"
		hr
		dl.d-flex.flex-column.flex-lg-row.flex-wrap
			//.p-2
			each meta in casino.metas
				dt= meta.title
				dd= meta.desc